
<table class="listTable">
    <caption>
        <h5> {{ caption }} </h5>
    </caption>
    <hr />
    <thead>       
        <tr ng-show="info.empty"><td> There are no {{ caption }} </td></tr>          
    </thead>
    <tbody>
        <tr ng-repeat="item in input">
            <td class="nameCell">
                {{ item.name }}
                <small>{{ action | uppercase }}</small>
            </td>
            
            <td class="buttonCell" ng-show="action === 'stopped' || action === 'paused'">
                <div class="btn btn-default btn-xs" ng-click="scopePlay(item.type, item.name)">
                    <span class="entypo play"></span> 
                </div>
            </td>
            <td class="buttonCell" ng-show="action === 'running'">
                <div class="btn btn-default btn-xs" ng-click="scopePause(item.type, item.name)">
                    <span class="entypo paus"></span> 
                </div>
            </td> 
            <td class="buttonCell" ng-show="action === 'running' || action === 'paused'">
                <div class="btn btn-default btn-xs" ng-click="scopeStop(item.type, item.name)">
                    <span class="entypo stop"></span> 
                </div>
            </td>            
            <td class="buttonCell" ng-show="action === 'stopped' || action === ''">
                <div class="btn btn-default btn-xs" ng-click="edit(item.type, item.name)">  
                    <span class="entypo cog"></span> 
                </div>
            </td>           
            <td class="buttonCell">
                <div class="btn btn-default btn-xs" ng-click="clone(item.type, item.name)">  
                    <span class="entypo docs"></span> 
                </div>
            </td>           
            <td class="buttonCell" ng-show="action === 'stopped' || action === ''">
                <div class="btn btn-default btn-xs" ng-click="remove(item.type, item.name)">
                    <span class="entypo trash"></span> 
                </div>
            </td>
   
        </tr>
    </tbody>
</table>
