<div class="row">
    <div class="col-sm-24 feedLocationNavBox">
        <h4 class="col-sm-10" ng-show="fileSysSection"> Default Storage type </h4>
        <h4 class="col-sm-10" ng-show="!fileSysSection"> Storage type </h4>
        <div class="col-sm-14 feedLocationNav">
            <div class="btn btn-default pull-right" ng-class="{active:!fileSysSection}" ng-click="fileSysSection = false">
                Catalog Storage
            </div>
            <div class="btn btn-default pull-right" ng-class="{active:fileSysSection}" ng-click="fileSysSection = true">
                File System
            </div>
        </div>
    </div>
    <h4 class="col-sm-12"> Default Location </h4>
    
    <div class="col-sm-24" ng-show="fileSysSection">
        <label class="light">Data path</label>
        <input type="text" class="form-control" ng-model="feedEntity.feed._name" ng-required novalidate/>
    </div>
    <div class="col-sm-24" ng-show="fileSysSection">
        <label class="light">Stats path</label>
        <input type="text" class="form-control" ng-model="feedEntity.feed._name" ng-required novalidate/>
    </div>
    <div class="col-sm-24" ng-show="fileSysSection">
        <label class="light">Metadata path</label>
        <input type="text" class="form-control" ng-model="feedEntity.feed._name" ng-required novalidate/>
    </div>
    <div class="col-sm-24" ng-show="!fileSysSection">
        <label class="light">Table uri</label>
        <input type="text" class="form-control" ng-model="feedEntity.feed._name" ng-required novalidate/>
    </div>
</div>



<div class="row feedBottomButtons">
    <div class="btn btn-default col-xs-6" ui-sref="main.forms.feed.properties">
        Previous
    </div>
    <div class="btn btn-default col-xs-6 pull-right" ui-sref="main.forms.feed.clusters">
        Next
    </div>
    <div class="col-xs-4 pull-right">
        <u ui-sref="main">Cancel</u>
    </div>          
</div>