<div class="row">
    <div class="col-md-12 wrappingHomeBox">
    	<div>
    		<div>
        		<div type="button" class="btn btn-default btn-file" ng-click="">
        			<span class="glyphicon glyphicon-upload"></span> 
        			<input type="file" id="files" name="files[]" multiple fileinput-change="handleFile" ng-model="fileJson">
        		</div> Upload an entity
        	</div>
        	<div>
        		<div type="button" class="btn btn-default" ng-click=""> 
        			<span class="glyphicon glyphicon-plus-sign"></span> 
        		</div> Create an entity
        	</div>
        </div> 
    </div>      
</div>

<output id="list"></output>

<div class="row" ui-view>
	
</div>