/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
//-------------- mixins--------------------//
.transition (@prop: all, @time: 1s, @ease: linear) {
  -webkit-transition: @prop @time @ease;
  -moz-transition: @prop @time @ease;
  -o-transition: @prop @time @ease;
  -ms-transition: @prop @time @ease;
  transition: @prop @time @ease;
}

//-------------------------------------------//

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

//--------------------VALIDATION---------------------//
@shadow-valid: rgba(0, 255, 0, .6);
@shadow-invalid: rgba(255, 0, 0, .6);
.ng-valid {
  &:focus {
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @{shadow-valid}");
    border-color: green;
  }
}

.ng-invalid {
  border-color: lighten(red, 10%);
  &:focus {
    border-color: red;
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @{shadow-invalid}");
  }
}

//-------------------------------------------------------//
.mainUIView {
  //padding: 10px 0 30px 0;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: rgba(246, 246, 246, 1);
}

//---------navHeader----------------------//
.navbar {
  background-color: @headerNavBG;
  margin: 0;
  color: white;
  padding: 5px 0;
  border-width: 0;
  border-radius: 0;
}

.navbar-header {
  margin: 5px 15px 5px 5px;
  font-size: 30px;
  cursor: pointer;
  font-weight: bolder;
  > img {
    height: 40px;
  }
}

.createNavWrapper, .uploadNavWrapper {
  float: left;
  margin: 0 10px;
  > h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 2px 0;
  }
  > div {
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
  }
  .disabled {
    color: lighten(@headerNavBG, 10%);
    border-color: lighten(@headerNavBG, 10%);
    cursor: default;
  }
}

//-----------------------------------------//
//----------------FILE UPLOAD---------------------//
.btn-file {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  // margin: 40px 0 40px 30px;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

//-----------------cluster/feed/processes list ---//
.dashboardBox {
  h3 {
    font-weight: bold;
  }
}

.listTable {
  margin-top: 20px;
  border-collapse: separate;
  border-radius: 4px;
  border: 1px solid @gray;
  width: 100%;
  h5 {
    text-align: left;
    font-weight: bold;
    small {
      margin-top: -5px;
      display: block;
      font-weight: bold;
    }
  }
  thead {
    padding: 5px;
    text-align: left;
    background-color: @gray-dark;
    color: white;
  }
  tbody {
    padding: 5px;
    display: table-row-group;
  }
  tr {
    width: 100%;
  }
  .filtersBox {
    font-weight: normal;
    font-size: 10px;
    width: 35%;
    float:left;
    margin: 3px 1%;
  }
  .filtersSelectBox {
    float:left;
    font-weight: normal;
    font-size: 10px;
    width: 24%;
    margin: 3px 1%;
    select {
      padding:0;
      font-size: 10px;
    }
  }
  
  .buttonsRow {
    height: 25px;
  }
  .entityRow {
    td {
      padding: 0 5px;
    }
    &:last-child {
      td {
        border-bottom: none;
      }
    }
  }
  label {
    font-weight: normal;
    font-size: 10px;
  }
  .checkboxCell {
    width: 20px;
    text-align: center;
  }
  .stateCell {
    width: 120px;
  }
  .dateCell {

  }
  input[type="radio"] {
    margin: -1px 0 0 -18px;
    font-size: 10px;
  }
  input[type="text"] {
    color: black;
  }
  .entypo {
    font-size: 20px;
    margin: 8px 0 0 0;
    display: inline-block;
  }
  .buttonCell {
    //opacity:0;
  }
  .nameCell {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

}

//----------------main---------------------------------//
#main {
  text-align: center;
}

.alert {
  .transition(opacity, 1s, ease-out);
  opacity: 1;
  &.alertFade {
    opacity: 0;
  }
}

.buttonsWrapper {
  text-align: center;
}

.buttonsMain {
  display: inline-block;
  padding: 5px;
  border: 1px solid @gray-light;
  border-radius: 5px;
  margin: 10px;
  //text-align: center;
}

.plusButton {
  display: inline-block;
  margin-right: -3px;
}

.hideGroupButton {
  overflow: hidden;
  margin: 0;
  width: 0;
  padding: 0;
  border-width: 0;

  &:active {
    .box-shadow(inset 0 0 0 rgba(0, 0, 0, .125));
  }
  &:hover {
    background-color: white;
  }
  .transition(width, 0.6s, ease-out);
  &.shown {
    width: 229px;
    border-width: 1px;
  }
  > div {
    display: inline-block;
    padding: 6px 6px;
    &:hover {
      background-color: #CCC;
    }
    &:active {
      .box-shadow(inset 0 3px 5px rgba(0, 0, 0, .125));
    }

  }
}
//------------entity details----------------//
.detailsHeaders {
  h3 { display: inline-block;}
  small{
    color: @gray-light;
    display: block;
    margin-bottom: -2px;
  }
  .btn {
    margin-top: -2px;
    background-color: @gray;
    color: white;
  }
  
}
.detailsBox {
  border-radius: 5px;
  border: 1px solid @gray-light2;
  margin: 5px;
  padding: 15px 5px;
  font-size: 12px;
  background-color: #ffffff;
  h4 {
    font-weight: bold;
    margin:5px 0;
  }
  h5 {
    font-weight: bold;
  }
  table {
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
  }
  .tableHeader {
    width: 70px;
    font-weight: bold;
  }
  textarea {
    width: 100%;
  }
}
//------------forms ----------------//
.formPage {

  h3 {
    font-weight: bold;
  }

}

.formTitle {
  background-color: @gray-light2;
  .border-bottom-radius(5px);
  color: black;
  padding: 5px;
  font-size: 16px;
  .entypo {
    font-size: 35px;
    line-height: 9px;
  }
  .archive, .save, .trash, .download {
    display: inline-block;

  }
  .archive {
    vertical-align: -50%;
  }
  .save, .trash {
    float: right;
    margin: 7px 5px 0 5px;
    cursor: pointer;
  }
}

.clusterForm {
  .circled-minus {
    vertical-align: middle;
    margin-left: 10px;
  }
}

.clusterForm, .feedForm {
  input {
    padding-left: 1px;
    border-width: 1px;
  }
  select {
    background-color: white;
  }
  > div {
    &:first-child {
      margin-top: 0;
    }
    margin-top: 5px;
  }
  .light {
    font-weight: normal;
  }
  label {
    font-size: 12px;
    line-height: 12px;
  }
  u {
    line-height: 30px;
    cursor: pointer;
  }
  h4 {
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    margin: 20px 0 5px;
  }
}

.locationPlus {
  line-height: 65px;
  cursor: pointer;
}

#interfaces-detail {
  > div {
    margin-top: 10px;
  }
  label {
    font-size: 10px;
  }
}
//---------------------------------//
//---------progress Bar------------//
//---------------------------------//
.progressBar {
  overflow: hidden;
  padding: 10px 35px;
  div {
    .transition(background-color, 0.5s, ease-out);
    background-color: @gray-light;
    height: 10px;
    border-top:2px solid @gray-light;
    border-bottom:2px solid @gray-light;    
    span {
      display: block;
      width: 55px;
      span { display: none;}
      &:first-child {
        float: left;
        margin: -10px 0 0 -17px;     
        h6 {
          font-weight: bold;
        }
      }
      &:last-child {
        float: right;
        margin: -10px -15px 0 0;    
        div {
          background-color: @gray-light;
        } 
      } 
      h6 {
        margin: 0;
        font-size: 10px;
      }
    }   
    div {
      display: inline-block;
      border-radius: 30px;      
      line-height: 27px;    
      width: 30px;
      height: 30px;
      text-align: center;
      background-color: #333;
      color: white;
      border: 3px solid @gray-light;
 
    }
  }
}

.clusterProgressBox {
  font-weight: bold;
  font-size: 16px;
  span {
    text-align: center;
  }
  &.summary {
    .progressBar {
      div {
        background-color: @gray-dark;
        border-color: @gray-dark;
        span {
          &:first-child {           
            span {
              color: white;
              display: block;           
              z-index:2;
              position: relative;
              margin-top: -13px;
            }
            div {
              color: @gray-dark;
              border-color: @gray-dark;
            }
            h6 {
              font-weight: normal;
            }
          }
          &:last-child {
            div {
              border-color: @gray-light;
            }
            h6 {
              font-weight: bold;
            }
          }       
        }
      }
    }
  }
}

.padding0 {
  padding: 0;
}

.dynamic-table-spacer {
  margin-top: 5px;
}

.feedProgressBox {
  font-size: 14px;
  .entypo {     
    color: white;                 
    z-index:2;
    position: relative;
    display: none;
    font-size: 36px;
    margin: -13px -15px 0 0!important;  
  }  

  .progressBar {
    padding: 10px 6% 0 6%;
    >div {
      >span {
        display: inline-block;
        width: 24%;
        margin: -11px 0 0 0;
        &:first-child {
          margin: -10px 0 0 -4%;  
          h6 {
            font-weight: normal;
          }  
        }
        &:last-child {
          margin: -10px -21% 0 0;    
        }
        div {       
          background-color: @gray-dark;
        } 
      }       
      div {
        border-color: @gray-light;
      }
      h6 {
        margin-left: -7px;
        font-weight: normal;
      }
    }
  }
  &.general {
    .fir {
      background-color: @gray-dark;    
      & + h6 { font-weight: bold!important; }   
    }
    .sec, .thi, .fou, .fif {
      background-color: @gray-light;
    }  
    
  }
  &.properties {
    .fir {   
      .entypo {display: block;}      
      border-color: @gray-dark;
      color: @gray-dark;
    }
    .sec + h6 { font-weight: bold; }  
    .fir, .sec {
      background-color: @gray-dark;  
    }
    .thi, .fou, .fif {
      background-color: @gray-light;
      
    }
  }
  &.location {
    .thi + h6 { font-weight: bold; }     
    .fir, .sec {
      .entypo {display: block;}      
      border-color: @gray-dark;
      color: @gray-dark;
    }
    .fir, .sec, .thi {
      background-color: @gray-dark;
    }
    .fou, .fif {
      background-color: @gray-light;
    }
  }
  &.clusters {
    .fou + h6 { font-weight: bold; }  
    .fir, .sec, .thi {
      .entypo {display: block;}      
      border-color: @gray-dark;
      color: @gray-dark;
    }
    .fir, .sec, .thi, .fou {
      background-color: @gray-dark;
    }
    .fif {
      background-color: @gray-light;
    }
  }
  &.summary {
    .fif + h6 { font-weight: bold; }  
    .fir, .sec, .thi, .fou {
      .entypo {display: block;}      
      border-color: @gray-dark;
      color: @gray-dark;
    }
    .fir, .sec, .thi, .fou, .fif {
      background-color: @gray-dark;
    }
  }
}
//---------------------------------//
//---------------------------------//
.feedForm {

  .small {
    display: inline-block;
    width: 30px;
    height: 20px;
  }
  .medium {
    width: 80px;
  }
  .availFlagInput {
    width: 85px;
  }
  .freqTitle {
    margin: 0 0 5px 0;
  }
  .top-buffer {
    margin-top: 8px;
  }
  .feedLocationNavBox {
    h4 {
      margin-top: 10px;
    }
    &.nopointer .btn {
      cursor: default;
    }
  }
  .feedLocationNav {
    color: black;
    .btn {
      background-color: @gray-light;
    }
    .active {
      color: white;
      background-color: @gray-dark;
    }
  }
  .feedBottomButtons {
    margin: 10px 0;
  }

  .sourceReplicationButton {
    width: 45px;
    display: inline-block;
    border-bottom: 3px solid @gray-light;
    color: @gray-light;
    cursor: pointer;
    small {
      font-size: 60%;
      margin-bottom: -5px;
      display: block;
    }
    &.active {
      border-color: @gray-dark;
      color: @gray-dark;
    }

  }
  .addReplicationButton {
    width: 70px;
    display: inline-block;
    border-bottom: 3px solid @gray-light;
    color: @gray-light;
    cursor: pointer;
    small {
      font-size: 60%;
      margin-bottom: -5px;
      display: block;
    }
    &.active {
      border-color: @gray-dark;
      color: @gray-dark;
    }

  }
  .validityDateBox {
    .light {
      display: block;
    }
    input {
      display: inline-block;

    }
  }
  .input-group {
    input {
      font-size: 12px;
    }
    button {
      padding: 2px 6px;
    }
    i {
      font-size: 14px;
    }
  }
  .timePicker {
    margin-top: -22px;
    .btn {
      padding: 1px 5px;
      border-radius: 0;
    }
  }
  @media screen and (max-width: @grid-float-breakpoint) {
    .timePicker {
      margin-top: 0;
    }
  }
  .TZSelect {
    margin: 5px 0;
  }
  .addProperty {
    margin: 12px 5px;
    display: inline-block;
  }
}

.metrics {
  text-align: center;
  h3, h5 {
    margin:0;
  }
  .metric-cell {
    border-right: 1px solid;
    border-color: lightgray;
  }
  .status-running {
    color: green;
  }
  .status-paused {
    color: #E6DD00;
  }
  .status-stopped {
    color: red;
  }
}

