<div class="row"> 
    <div class="col-sm-14">
        <div class="sourceReplicationButton" ng-class="{active: sourceSection}" ng-click="sourceSection = true">
            <small>Source</small>
            Cluster
        </div>
        <div class="sourceReplicationButton" ng-class="{active: !sourceSection}" ng-click="sourceSection = false" ng-show="replicationCluster">
            <small>Replication</small>
            Cluster
        </div>
    </div> 
    <div class="pull-right col-sm-10" ng-click=" replicationCluster = true; sourceSection = false;">
        Add Replication Cluster <span class="entypo circled-plus"></span>
    </div>   
</div>

<div class="row"> 
    <h4 class="col-sm-24"> Source Cluster </h4>
    <select ng-model="feedEntity.feed.something">
        <option value="primaryCluster">primaryCluster</option>
    </select> 
    
    <h4 class="col-sm-24"> Retention </h4>
    <div class="col-sm-24 composedField">
        <select ng-model="feedEntity.feed.something">
            <option selected value="Chown">Chown</option>
            <option value="Delete">Delete</option>
            <option value="Chmod">Chmod</option>
            <option value="Archive">Archive</option>
        </select> 
        in
        <input type="text" class="small" ng-model="feedEntity.feed.something" ng-required novalidate/>
        <select ng-model="feedEntity.feed.something">
            <option selected value="hours">hours</option>
            <option value="days">days</option>
            <option value="weeks">weeks</option>
            <option value="months">months</option>
        </select>   
    </div>
    <h4 class="col-sm-24"> Validity </h4>
    <div class="col-sm-24 validityDateBox">
        <label class="light">Start</label>
        <input type="date" ng-model="feedEntity.feed.something" ng-required novalidate/>
        <input type="time" ng-model="feedEntity.feed.something" ng-required novalidate/>  
    </div>
    <div class="col-sm-24 validityDateBox">
        <label class="light">End</label>
        <input type="date" ng-model="feedEntity.feed.something" ng-required novalidate/>
        <input type="time" ng-model="feedEntity.feed.something" ng-required novalidate/>  
    </div>
    <select class="col-sm-24" name="DropDownTimezone" id="DropDownTimezone">
      <option value="-12.0">(GMT -12:00) Eniwetok, Kwajalein</option>
      <option value="-11.0">(GMT -11:00) Midway Island, Samoa</option>
      <option value="-10.0">(GMT -10:00) Hawaii</option>
      <option value="-9.0">(GMT -9:00) Alaska</option>
      <option value="-8.0">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
      <option value="-7.0">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
      <option value="-6.0">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
      <option value="-5.0">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
      <option value="-4.0">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
      <option value="-3.5">(GMT -3:30) Newfoundland</option>
      <option value="-3.0">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
      <option value="-2.0">(GMT -2:00) Mid-Atlantic</option>
      <option value="-1.0">(GMT -1:00 hour) Azores, Cape Verde Islands</option>
      <option value="0.0">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
      <option value="1.0">(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
      <option value="2.0">(GMT +2:00) Kaliningrad, South Africa</option>
      <option value="3.0">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
      <option value="3.5">(GMT +3:30) Tehran</option>
      <option value="4.0">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
      <option value="4.5">(GMT +4:30) Kabul</option>
      <option value="5.0">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
      <option value="5.5">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
      <option value="5.75">(GMT +5:45) Kathmandu</option>
      <option value="6.0">(GMT +6:00) Almaty, Dhaka, Colombo</option>
      <option value="7.0">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
      <option value="8.0">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
      <option value="9.0">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
      <option value="9.5">(GMT +9:30) Adelaide, Darwin</option>
      <option value="10.0">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
      <option value="11.0">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
      <option value="12.0">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
    </select>
</div>
<div class="row">
    <div class="col-sm-24 feedLocationNavBox">
        <h4 class="col-sm-10" ng-show="fileSysSection"> Default Storage type </h4>
        <h4 class="col-sm-10" ng-show="!fileSysSection"> Storage type </h4>
        <div class="col-sm-14 feedLocationNav">
            <div class="btn btn-default pull-right" ng-class="{active:!fileSysSection}" ng-click="fileSysSection = false">
                Catalog Storage
            </div>
            <div class="btn btn-default pull-right" ng-class="{active:fileSysSection}" ng-click="fileSysSection = true">
                File System
            </div>
        </div>
    </div>
    <h4 class="col-sm-12"> Default Location </h4>
    
    <div class="col-sm-24" ng-show="fileSysSection">
        <label class="light">Data path</label>
        <input type="text" class="form-control" ng-model="feedEntity.feed._name" ng-required novalidate/>
    </div>
    <div class="col-sm-24" ng-show="fileSysSection">
        <label class="light">Stats path</label>
        <input type="text" class="form-control" ng-model="feedEntity.feed._name" ng-required novalidate/>
    </div>
    <div class="col-sm-24" ng-show="fileSysSection">
        <label class="light">Metadata path</label>
        <input type="text" class="form-control" ng-model="feedEntity.feed._name" ng-required novalidate/>
    </div>
    <div class="col-sm-24" ng-show="!fileSysSection">
        <label class="light">Table uri</label>
        <input type="text" class="form-control" ng-model="feedEntity.feed._name" ng-required novalidate/>
    </div>
</div>




<div class="row">
    <div class="btn btn-default col-xs-6" ui-sref="main.forms.feed.location">
        Previous
    </div>
    <div class="btn btn-default col-xs-6 pull-right" ui-sref="main.forms.feed.summary">
        Next
    </div>
    <div class="col-xs-4 pull-right">
        <u ui-sref="main">Cancel</u>
    </div>          
</div>