
<div class="col-sm-20 col-sm-offset-2 alert" ng-class="{'alert-success': success, 'alert-danger': !success}" ng-show='serverResponse.status'>  
    {{ serverResponse.status }} {{ serverResponse.message }}        
    <span class="entypo cross pull-right" ng-show='serverResponse.status === "FAILED"' ng-click="closeAlert()"></span>  
</div>

<div class="col-sm-24 dashboardBox">   
   
    <div class="col-sm-6 col-sm-offset-3">
        <entities-list input="lists.clusterList" caption="Clusters" clone="cloneEntity" remove="deleteEntity" edit="editEntity" play="playEntity" pause="pauseEntity" stop="stopEntity"></entities-list>
  
    </div>  
    <div class="col-sm-6">
        <entities-list input="lists.feedList" caption="Feeds" clone="cloneEntity" remove="deleteEntity" edit="editEntity" play="playEntity" pause="pauseEntity" stop="stopEntity"></entities-list>
        
    </div>  
    <div class="col-sm-6">
        <entities-list input="lists.processList" caption="Processes" clone="cloneEntity" remove="deleteEntity" edit="editEntity" play="playEntity" pause="pauseEntity" stop="stopEntity"></entities-list>
        
    </div>         
</div> 

<div class="col-sm-24"> 
    <div class="buttonsWrapper">
        <div class="buttonsMain"> 
            
            <div class="btn btn-default btn-file" ng-click="">
                <span class="entypo up"></span> 
                <input type="file" id="files" name="files[]" multiple fileinput-change="handleFile" ng-model="fileJson">
            </div> 
            
            
            <div class="plusButton" ng-class="{hidden: plusButton.clicked===true}">
                <div class="btn btn-default" ng-click="plusButton.clicked=true"> 
                    <span class="entypo circled-plus"></span> 
                </div> 
            </div>
            <div class="btn btn-default hideGroupButton" ng-class="{shown: plusButton.clicked===true}"> 
                <div ui-sref="main.forms.cluster.general">
                    <span class="entypo archive"></span> Cluster
                </div>
                <div ui-sref="main.forms.feed.general">
                    <span class="entypo download"></span> Feed
                </div>
                <div ui-sref="main.forms.process">
                    <span class="entypo cycle"></span> Process
                </div>     
            </div>      
            
        </div>  
    </div>   
</div>             

<div class="col-sm-24" ui-view>
    
</div>