<!--
/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<form name="clusterForm">
  <div class="col-sm-8">
    <label class="light">Name</label>
    <input type="text" class="form-control" ng-pattern="/^[a-zA-Z0-9]{1,39}$/" ng-model="clusterEntity.cluster._name"
           ng-required="true" novalidate/>
  </div>
  <div class="col-sm-16">
    <label class="light">Colo</label>
    <input type="text" class="form-control" ng-pattern="/^[a-zA-Z0-9]{1,40}$/" ng-required="true"
           ng-model="clusterEntity.cluster._colo">
  </div>
  <div class="col-sm-24">
    <label class="light">Description</label>
    <input type="text" class="form-control" ng-pattern="/^[a-zA-Z0-9]{1,40}$/" ng-required="true"
           ng-model="clusterEntity.cluster._description">
  </div>
  <div class="col-sm-24">
    <label class="light">Groups (comma separated)</label>
    <input type="text" class="form-control" ng-pattern="/^[a-zA-Z0-9,]{1,40}$/" ng-model="TBD">
  </div>

  <h4 class="col-sm-24"> Interfaces </h4>

  <div id="interfaces-header">
    <div class="col-xs-4">
      Type
    </div>
    <div class="col-xs-16">
      Endpoint
    </div>
    <div class="col-xs-4">
      Version
    </div>
  </div>

  <div id="interfaces-detail" ng-repeat="_interface in clusterEntity.cluster.interfaces.interface">
    <div class="col-xs-4">
      <label>{{_interface._type}}</label>
    </div>
    <div class="col-xs-16">
      <input type="text" class="form-control" ng-model="_interface._endpoint">
    </div>
    <div class="col-xs-4">
      <input type="text" class="form-control" ng-pattern="validations.versionNumbers.pattern"
             ng-model="_interface._version">
    </div>
  </div>

  <h4 class="col-xs-24"> Properties </h4>

  <div ng-repeat="property in clusterEntity.cluster.properties.property">
    <div class="col-sm-5 dynamic-table-spacer">
      <input type="text" class="form-control" ng-model="property._name" ng-pattern="validations.alpha.pattern"
             ng-required="property._name"/>
    </div>
    <div class="col-sm-17 dynamic-table-spacer">
      <input type="text" class="form-control" ng-model="property._value" ng-pattern="validations.alpha.pattern"
             ng-required="property._value"/>
    </div>
    <div class="col-sm-2 top-buffer">
      <span class="entypo circled-minus dynamic-table-spacer" ng-click="removeProperty($index)"></span>
    </div>
    <div class="clearfix hidden-md"></div>
  </div>
  <div class="col-sm-5 dynamic-table-spacer">
    <input type="text" class="form-control" ng-model="tempmodel._name" ng-pattern="validations.alpha.pattern"
           ng-required="property._name"/>
  </div>
  <div class="col-sm-17 dynamic-table-spacer">
    <input type="text" class="form-control" ng-model="tempmodel._value" ng-pattern="validations.alpha.pattern"
           ng-required="property._value"/>
  </div>
  <div class="col-sm-2 top-buffer">
    <span class="entypo circled-plus dynamic-table-spacer"
          ng-click="addProperty(tempmodel._name, tempmodel._value)"></span>
  </div>


  <h4 class="col-xs-24"> Location </h4>

  <div class="col-xs-24" ng-repeat="location in clusterEntity.cluster.locations.location">
    <div class="col-xs-8">
      {{location._name}}
    </div>
    <div class="col-xs-14">
      {{location._path}}
      <span class="entypo circled-minus" ng-click="removeLocation($index)"></span>
    </div>
  </div>

  <div class="col-xs-8">
    <label>name</label>
    <input type="text" class="form-control" ng-model="newLocation._name">
  </div>
  <div class="col-xs-14">
    <label>path</label>
    <input type="text" value="/" class="form-control" ng-model="newLocation._path">
  </div>

  <div class="col-xs-2">
    <div class="entypo circled-plus locationPlus" ng-click="addLocation()"></div>
  </div>

  <div class="row">
    <div class="btn btn-default col-xs-6" ui-sref="main">
      Cancel
    </div>
    <div class="btn btn-default col-xs-6 pull-right" ng-disabled="clusterForm.$invalid" ng-click="goSummaryStep()"
         ui-sref="main.forms.cluster.summary">
      Next
    </div>
  </div>
</form>