<div class="col-md-12">
    <h3>Cluster</h3>
    
    <div class="bg-warning">
        
        <h4> interfaces </h4>
        
        <pre>the list of interfaces</pre>
        
        
        
        <div class="bg-info">
            <h5>cluster properties</h5>
            <label>colo</label><input type="text" class="form-control" placeholder="Text input" ng-model="entity.colo">
            <label>description</label><input type="text" class="form-control" placeholder="Text input" ng-model="entity.description">
            <label>name</label><input type="text" class="form-control" placeholder="Text input" ng-model="entity.name">
            <label>xmlns</label><input type="text" class="form-control" placeholder="Text input" ng-model="entity.xmlns">
        </div>
        
        <div class="bg-info">
            <h5>cluster interfaces</h5>
            
            <h5>new interface</h5>
            DESARROLLAR UN NGREPEAT PARA EL TRATAMIENTO DEL ARRAY CON METODOS QUE INDIQUEN EL QUE SE EDITA A TRAVES DE $index
        </div>
        
        <div class="bg-default">
            <h5>cluster locations</h5>
            
            <h5>new interface</h5>
            DESARROLLAR UN NGREPEAT PARA EL TRATAMIENTO DEL ARRAY CON METODOS QUE INDIQUEN EL QUE SE EDITA A TRAVES DE $index
        </div>
        
    </div>
    
</div>
