<div class="table-responsive">
    <table class="table table-hover table-striped">
        <caption>
            <h4> Your list of <span class="text-primary">{{caption}}</span></h4>
        </caption>
        
        <thead>       
            <tr ng-show="info.empty"><td> There are no {{caption}} </td></tr>
            
            <tr ng-hide="info.empty">
                <td class="typeCell"> Name </td>
                <td class="nameCell"> Type</td>
                <td class="buttonCell"> Clone</td>
                <td class="buttonCell"> Edit </td>
                <td class="buttonCell"> Remove </td>
                <td class="buttonCell"> Relations </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in input">
                <td class="typeCell">{{item.type}}</td>
                <td class="nameCell">{{item.name}}</td>
                <td class="buttonCell">
                    <div class="btn btn-info btn-xs" ng-click="clone(item.type, item.name)">  
                        <span class="glyphicon glyphicon-magnet"></span> clone 
                    </div>
                </td>
                <td class="buttonCell">
                    <div class="btn btn-warning btn-xs" ng-click="edit(item.type, item.name)">  
                        <span class="glyphicon glyphicon-edit"></span> edit
                    </div>
                </td>
                <td class="buttonCell">
                    <div class="btn btn-danger btn-xs" ng-click="remove(item.type, item.name)">
                        <span class="glyphicon glyphicon-remove"></span> remove 
                    </div>
                </td>
                <td class="buttonCell">
                    <div class="btn btn-primary btn-xs" ng-click="relations(item.type, item.name)">  
                        <span class="glyphicon glyphicon-link"></span> relations 
                    </div>
                </td>  
            </tr>
        </tbody>
    </table>
</div>