<form name="feedForm">
  <div class="row">
    <div class="col-sm-24 feedLocationNavBox">
      <h4 class="col-sm-10" ng-show="feed.storage.fileSystem.active">Default Storage type </h4>
      <h4 class="col-sm-10" ng-show="feed.storage.catalog.active"> Storage type </h4>

      <div class="col-sm-14 feedLocationNav">
        <div class="btn btn-default pull-right"
          ng-class="{active: feed.storage.catalog.active}"
          ng-click="toggleStorage()">
          Catalog Storage
        </div>
        <div class="btn btn-default pull-right"
          ng-class="{active: feed.storage.fileSystem.active}"
          ng-click="toggleStorage()">
          File System
        </div>
      </div>
    </div>
    <h4 class="col-sm-12">Default Location</h4>

    <div ng-show="feed.storage.fileSystem.active"
      ng-repeat="location in feed.storage.fileSystem.locations">

      <div class="col-sm-15">
        <label class="light">{{capitalize(location.type)}} path</label>
      </div>
      <div class="col-sm-1" ng-show="location.focused">
        <label class="light">add</label>
      </div>
      <div class="col-sm-8" ng-show="location.focused">
        <label ng-repeat="timeVariable in ['${YEAR}', '${MONTH}', '${DAY} ', '${HOUR}']"
               ng-click="appendVariable(timeVariable, location, 'path')">
          {{timeVariable}}
        </label>
      </div>
      <div class="clearfix hidden-md"></div>
      <div class="col-sm-24">
        <input type="text" class="form-control"
          ng-required="true"
          ng-model="location.path"
          ng-pattern="validations.osPath.pattern"
          ng-focus="location.focused = true"/>
      </div>
    </div>

    <div class="clearfix hidden-md"></div>

    <div ng-show="feed.storage.catalog.active">
      <div class="col-sm-15">
        <label class="light">Table uri</label>
      </div>

      <div class="col-sm-1" ng-show="feed.storage.catalog.catalogTable.focused">
        <label class="light">add</label>
      </div>
      <div class="col-sm-8" ng-show="feed.storage.catalog.catalogTable.focused">
        <label ng-repeat="timeVariable in ['${YEAR}', '${MONTH}', '${DAY} ', '${HOUR}']"
               ng-click="appendVariable(timeVariable, feed.storage.catalog.catalogTable, 'uri')">
          {{timeVariable}}
        </label>
      </div>

      <div class="clearfix hidden-md"></div>

      <div class="col-sm-24">
        <input type="text" class="form-control"
          ng-model="feed.storage.catalog.catalogTable.uri"
          ng-pattern="validations.tableUri.pattern"
          ng-required="feed.storage.catalog.active"
          ng-focus="feed.storage.catalog.catalogTable.focused = true"/>
      </div>

    </div>
  </div>

  <div class="row feedBottomButtons">
    <div class="btn btn-default col-xs-6" ui-sref="main.forms.feed.properties">
      Previous
    </div>
    <div class="btn btn-default col-xs-6 pull-right"
      ng-disabled="feedForm.$invalid"
      ui-sref="main.forms.feed.clusters">
      Next
    </div>
    <u class="col-sm-3 pull-right" ui-sref="main">
      Cancel
    </u>
  </div>
</form>