<form name="feedForm">
  <div class="row">
    <div class="sourceReplicationButton"
         ng-repeat="cluster in feed.clusters"
      ng-click="removeCluster()"
      ng-class="{active: true}">
      {{cluster}}
      <div><span class="entypo circled-down"></span></div>
      <div><small>Source</small> Cluster</div>
    </div>
    <div class="sourceReplicationButton pull-right"
      ng-click="addCluster()">
      <div><span class="entypo circled-plus"></span></div>
      <div><small>Add</small>  Cluster</div>
    </div>
  </div>

  <div class="row feedBottomButtons">
    <div class="btn btn-default col-xs-6" ui-sref="main.forms.feed.properties">
      Previous
    </div>
    <div class="btn btn-default col-xs-6 pull-right"
         ng-disabled="feedForm.$invalid"
         ui-sref="main.forms.feed.summary">
      Next
    </div>
  </div>
</form>