<form name="generalInformationStepForm">
  <div class="row">

    <div class="col-md-8">
      <label class="light">Name</label>
    </div>
    <div class="col-md-16">
      <label class="light">Description</label>
    </div>

    <div class="col-md-8">
      <input type="text" class="form-control" ng-model="feedEntity.feed._name" ng-required="true" ng-pattern="/(([a-zA-Z]([\-a-zA-Z0-9])){1,39})/" ng-maxlength="39"/>
    </div>
    <div class="col-md-16">
      <input type="text" class="form-control" ng-model="feedEntity.feed._description" ng-maxlength="60"/>
    </div>


    <div class="col-md-24">
      <label class="light">Tags</label>
    </div>

    <div ng-repeat="tag in feedForm.tags">
      <div class="col-md-11 dynamic-table-spacer">
        <input type="text" class="form-control" ng-model="tag.key"  ng-required="tag.value" />
      </div>
      <div class="col-md-12 dynamic-table-spacer">
        <input type="text" class="form-control" ng-model="tag.value"  ng-required="tag.key" />
      </div>
      <div class="col-md-1 top-buffer" >
        <div ng-if="!$last">
          <span class="entypo circled-minus dynamic-table-spacer" ng-click="removeTag($index)" />
        </div>
        <div ng-if="$last">
          <span class="entypo circled-plus dynamic-table-spacer" ng-click="addTag()"/>
        </div>
      </div>
    </div>

    <div class="col-md-24">
      <label class="light">Groups (comma separated)</label>
      <input type="text" class="form-control" ng-model="feedEntity.feed.groups">
    </div>

    <h4 class="col-md-24"> Access Control List </h4>

    <div class="col-md-8">
      <label class="light">Owner</label>
      <input type="text" class="form-control" ng-model="feedEntity.feed.ACL._owner">
    </div>
    <div class="col-md-8">
      <label class="light">Group</label>
      <input type="text" class="form-control" ng-model="feedEntity.feed.ACL._group">
    </div>
    <div class="col-md-8">
      <label class="light">Permissions</label>
      <input type="text" class="form-control" ng-model="feedEntity.feed.ACL._permission">
    </div>

    <h4 class="col-md-24"> Schema </h4>

    <div class="col-md-12">
      <label class="light">Location</label>
      <input type="text" class="form-control" ng-model="feedEntity.feed.schema._location">
    </div>
    <div class="col-md-12">
      <label class="light">Provider</label>
      <input type="text" class="form-control" ng-model="feedEntity.feed.schema._provider">
    </div>
  </div>
  <div class="feedBottomButtons">
    <div class="btn btn-default col-md-6 pull-right" ui-sref="main.forms.feed.properties"
         ng-disabled="generalInformationStepForm.$invalid">
      Next
    </div>
    <div class="col-md-4 pull-right">
      <u ui-sref="main">Cancel</u>
    </div>
  </div>
</form>