<form name="feedForm">

    <div class="row">
      <div class="col-sm-8">
        <div class="light freqTitle">Frequency</div>
        
        <label class="light">Every</label>
      
          <span class="composedField">
            <input type="text" class="form-control small light"
             ng-model="feed.frequency.quantity"
             ng-required="true"
             ng-pattern="validations.twoDigits.pattern"/>
          </span>
          
            <select
              ng-model="feed.frequency.unit"
              ng-required="true">
              <option value="hours">hours</option>
              <option value="days">days</option>
              <option value="weeks">weeks</option>
              <option value="months">months</option>
            </select> 
      </div>
      <div class="col-sm-8">
        <div>
          <input type="checkbox" ng-model="feed.lateArrival.active">
          <label class="light">Late Arrival</label>
        </div>
      
        <label class="light">Up to</label>
        
  
            <input type="text" class="form-control small light"
              ng-model="feed.lateArrival.cutOff.quantity"
              ng-disabled="!feed.lateArrival.active"
              ng-pattern="validations.twoDigits.pattern"
              ng-required="feed.lateArrival.active"/>
      
     
        <select
          ng-model="feed.lateArrival.cutOff.unit"
          ng-required="feed.lateArrival.active">
          <option value="hours">hours</option>
          <option value="days">days</option>
          <option value="weeks">weeks</option>
          <option value="months">months</option>
        </select>
     
      </div>
      <div class="col-sm-8">
        <label class="light">Availability Flag</label>
        <input type="text" class="availFlagInput form-control"
          ng-model="feed.availabilityFlag"
          ng-pattern="validations.alpha.pattern">
      </div>


      <h4 class="col-sm-24">Properties</h4>
      <div class="col-sm-5">
        <label class="light">Name</label>
      </div>
      <div class="col-sm-19">
        <label class="light">Value</label>
      </div>

      <div class="col-sm-5 dynamic-table-spacer">
        <label>queueName</label>
      </div>
      <div class="col-sm-19 dynamic-table-spacer">
        <input type="text" class="form-control"
          ng-model="feed.properties.queueName"
          ng-patter="validations.alpha.pattern"/>
      </div>


      <div class="col-sm-5 dynamic-table-spacer">
        <label>jobPriority</label>
      </div>
      <div class="col-sm-19 dynamic-table-spacer">
        <select ng-model="feed.properties.jobPriority" class="form-control padding0">
          <option value="VERY_HIGH">Very high</option>
          <option value="HIGH">High</option>
          <option value="NORMAL">Normal</option>
          <option value="LOW">Low</option>
          <option value="VERY_LOW">Very Low</option>
        </select>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-5 dynamic-table-spacer">
        <label>timeout</label>
      </div>
      <div class="col-sm-19 dynamic-table-spacer">
          At
          <input type="text" class="form-control small light"
              ng-model="feed.properties.timeout.quantity"
              ng-pattern="validations.twoDigits.pattern"/>
          <select
              ng-model="feed.properties.timeout.unit">
              <option value="hours">hours</option>
              <option value="days">days</option>
              <option value="weeks">weeks</option>
              <option value="months">months</option>
          </select>     
      </div>
      <div class="clearfix"></div>

      <div class="col-sm-5 dynamic-table-spacer">
        <label>parallel</label>
      </div>
      <div class="col-sm-19 dynamic-table-spacer">
        <input type="text" class="form-control"
               ng-model="feed.properties.parallel"
               ng-patter="validations.alpha.pattern"/>
      </div>

      <div class="col-sm-5 dynamic-table-spacer">
        <label>maxMaps</label>
      </div>
      <div class="col-sm-19 dynamic-table-spacer">
        <input type="text" class="form-control"
               ng-model="feed.properties.maxMaps"
               ng-patter="validations.alpha.pattern"/>
      </div>
      <div class="col-sm-5 dynamic-table-spacer">
        <label>mapBandwidthKB</label>
      </div>
      <div class="col-sm-19 dynamic-table-spacer">
        <input type="text" class="form-control"
               ng-model="feed.properties.mapBandwidthKB"
               ng-patter="validations.alpha.pattern"/>
      </div>

      <div ng-repeat="property in feed.customProperties">
        <div class="col-sm-5 dynamic-table-spacer">
          <input type="text" class="form-control"
                 ng-model="property.key"
                 ng-pattern="validations.alpha.pattern"
                 ng-required="property.value"/>
        </div>

        <div class="col-sm-17 dynamic-table-spacer">
          <input type="text" class="form-control"
                 ng-model="property.value"
                 ng-pattern="validations.alpha.pattern"
                 ng-required="property.key"/>
        </div>
        <div class="col-sm-2 top-buffer" >
          <div ng-if="!$last">
            <span class="entypo circled-minus dynamic-table-spacer" ng-click="removeCustomProperty($index)"></span>
          </div>
          <div ng-if="$last">
            <span class="entypo circled-plus dynamic-table-spacer" ng-click="addCustomProperty()"></span>
          </div>
        </div>
        <div class="clearfix hidden-md"></div>
      </div>

      <div class="clearfix hidden-md"></div>

      
    </div>
    <div class="feedBottomButtons row">
      <div class="btn btn-default col-sm-6" ui-sref="main.forms.feed.general">
        Previous
      </div>
      <div class="btn btn-default col-sm-6 pull-right"
           ng-disabled="feedForm.$invalid"
           ui-sref="main.forms.feed.location">
        Next
      </div>
      <u class="col-sm-3 pull-right" ui-sref="main">
        Cancel
      </u>
    </div>
</form>