<form name="feedForm">
  <div class="row">
    <div class="sourceReplicationButton"
         ng-repeat="cluster in feed.clusters"
      ng-click="handleCluster(cluster, $index)"
      ng-class="{active: cluster.selected}">
      <div>
        <span class="entypo"
          ng-class="{
            'circled-down': !cluster.selected || cluster.type === 'source',
            'circled-cross': cluster.selected && cluster.type !== 'source'
            }">
        </span>
      </div>
      <div><small>{{capitalize(cluster.type === 'target' ? 'replication' : cluster.type)}}</small> Cluster</div>
    </div>
    <div class="sourceReplicationButton pull-right"
      ng-click="addCluster()">
      <div><span class="entypo circled-plus"></span></div>
      <div><small>Add</small>  Cluster</div>
    </div>
  </div>

  <div ng-repeat="cluster in feed.clusters" ng-show="cluster.selected">
    <div class="row">
      <h4 class="col-sm-24">{{capitalize(cluster.type)}} Cluster </h4>
    </div>

    <select ng-model="cluster.name" ng-required="true">
      <option ng-repeat="clusterItem in clusterList">{{clusterItem.name}}</option>
    </select>
    <h4 class="col-sm-24"> Retention </h4>
    <div class="col-sm-24 composedField">
      <select ng-model="cluster.retention.action"
        ng-required="true">
        <option selected value="chown">Chown</option>
        <option value="delete">Delete</option>
        <option value="chmod">Chmod</option>
        <option value="archive">Archive</option>
      </select>
      in
      <input type="text" class="small"
        ng-required="true" ng-model="cluster.retention.quantity"
        ng-pattern="validations.twoDigits.pattern">

      <select ng-model="cluster.retention.unit"
        ng-required="true">
        <option selected value="hours">hours</option>
        <option value="days">days</option>
        <option value="weeks">weeks</option>
        <option value="months">months</option>
      </select>
    </div>

    <h4 class="col-sm-24"> Validity </h4>

    <div class="clearfix hidden-md"></div>

    <div class="col-md-8 validityDateBox">
      <label class="light">Start</label>
    </div>
    <div class="col-sm-8 validityDateBox">
      <label class="light">End</label>
    </div>

    <div class="clearfix hidden-md"></div>

    <div class="col-md-4 composedField">
      <input type="date" class="form-control light"
        ng-model="cluster.validity.start.date"
        ng-model="true"/>
    </div>
    <div class="col-md-4 composedField">
      <input type="time" class="form-control light"
        ng-model="cluster.validity.start.time"
        ng-model="true"/>
    </div>
    <div class="col-md-4 composedField">
      <input type="date" class="form-control light"
        ng-model="cluster.validity.start.date"
        ng-model="true"/>
    </div>
    <div class="col-md-4 composedField">
      <input type="date" class="form-control light"
        ng-model="cluster.validity.timezone"
        ng-model="true"/>
    </div>
    <div class="col-md-6 composedField">
      <select class="form-control light"
        ng-mode="">
        <option value="-12.0">(GMT -12:00) Eniwetok, Kwajalein</option>
        <option value="-11.0">(GMT -11:00) Midway Island, Samoa</option>
        <option value="-10.0">(GMT -10:00) Hawaii</option>
        <option value="-9.0">(GMT -9:00) Alaska</option>
        <option value="-8.0">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
        <option value="-7.0">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
        <option value="-6.0">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
        <option value="-5.0">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
        <option value="-4.0">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
        <option value="-3.5">(GMT -3:30) Newfoundland</option>
        <option value="-3.0">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
        <option value="-2.0">(GMT -2:00) Mid-Atlantic</option>
        <option value="-1.0">(GMT -1:00 hour) Azores, Cape Verde Islands</option>
        <option value="0.0">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
        <option value="1.0">(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
        <option value="2.0">(GMT +2:00) Kaliningrad, South Africa</option>
        <option value="3.0">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
        <option value="3.5">(GMT +3:30) Tehran</option>
        <option value="4.0">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
        <option value="4.5">(GMT +4:30) Kabul</option>
        <option value="5.0">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
        <option value="5.5">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
        <option value="5.75">(GMT +5:45) Kathmandu</option>
        <option value="6.0">(GMT +6:00) Almaty, Dhaka, Colombo</option>
        <option value="7.0">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
        <option value="8.0">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
        <option value="9.0">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
        <option value="9.5">(GMT +9:30) Adelaide, Darwin</option>
        <option value="10.0">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
        <option value="11.0">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
        <option value="12.0">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
      </select>
    </div>

  <div class="clearfix hidden-md"></div>


  <div class="row">
    <div class="col-sm-24 feedLocationNavBox">
      <h4 class="col-sm-10" ng-show="!feed.storage.fileSystem.active">Default Storage type</h4>
      <h4 class="col-sm-10" ng-show="feed.storage.fileSystem.active">Storage type</h4>

      <div class="col-sm-14 feedLocationNav">
        <div class="btn btn-default pull-right" ng-class="{active: feed.storage.catalog.active}">
          Catalog Storage
        </div>
        <div class="btn btn-default pull-right" ng-class="{active: feed.storage.fileSystem.active}">
          File System
        </div>
      </div>
    </div>

    <div class="clearfix hidden-md"></div>

    <div class="col-sm-19">
      <label>Location</label>
      <label class="light">(if not defined, will use default location)
      </label>
    </div>


    <div class="clearfix hidden-md"></div>

    <div class="col-sm-24"
      ng-show="feed.storage.fileSystem.active"
      ng-repeat="location in feed.storage.fileSystem.locations">
      <label class="light">{{location.type}} path</label>
      <input ng-disabled="true" type="text" class="form-control"
        ng-model="location.path"/>
    </div>

    <div class="col-sm-24" ng-show="feed.storage.catalog.active">
      <label class="light">Table uri</label>
      <input type="text" class="form-control" ng-model="feed.storage.catalog.catalogTable.uri"/>
    </div>
  </div>

  {{feed}}

  <div class="row feedBottomButtons">
    <div class="btn btn-default col-xs-6" ui-sref="main.forms.feed.location">
      Previous
    </div>
    <div class="btn btn-default col-xs-6 pull-right"
         ng-disabled="feedForm.$invalid"
         ui-sref="main.forms.feed.summary">
      Next
    </div>
  </div>
</form>