<table class="listTable">
    <thead>       
      <tr ng-if="info.empty">
        <th> There are no {{ type }}s </td>
      </tr>  
      <tr ng-if="!info.empty">
        <th colspan="4"> 
          <div class="radio-inline">
            <label>
              <input type="radio" name="searchOptions" id="{{type}}optionsRadios1" value="{{type}}nameSearch" checked>
                Name
            </label>
          </div>
          <div class="radio-inline">
            <label>
              <input type="radio" name="searchOptions" id="{{type}}optionsRadios2" value="{{type}}tagsSearch">
                Tags
            </label>
          </div>      
        </th>
      </tr>   
      <tr ng-if="!info.empty">
        <td colspan="4"> <input type="text" class="form-control" ng-model="simpleFilter.name"/> </td>   
      </tr>   
    </thead>
    <tbody>
      <tr ng-if="!info.empty" class="buttonsRow">
        <td class="buttonCell" colspan="4">
          <div class="btn btn-default btn-xs" ng-click="scopeSchedule()" ng-if="type !== 'cluster'">
              <span class="entypo play"></span> Schedule
          </div>
          <div class="btn btn-default btn-xs" ng-click="scopeResume()" ng-if="type !== 'cluster'">
              <span class="entypo play"></span> Resume
          </div>
          <div class="btn btn-default btn-xs" ng-click="scopeSuspend()" ng-if="type !== 'cluster'">
              <span class="entypo paus"></span> Suspend
          </div>
          <div class="btn btn-default btn-xs" ng-click="scopeStop()" ng-if="type !== 'cluster'">
              <span class="entypo stop"></span> Stop
          </div>
          <div class="btn btn-default btn-xs" ng-click="scopeEdit()" ng-if="type !== 'cluster' && selectedRows.length === 1">  
              <span class="entypo cog"></span> Edit
          </div>
          <div class="btn btn-default btn-xs" ng-click="scopeClone()" ng-if="selectedRows.length === 1">  
              <span class="entypo docs"></span> Copy
          </div>
          <div class="btn btn-default btn-xs" ng-click="scopeRemove()" ng-if="selectedRows.length > 0">
              <span class="entypo trash"></span> Delete
          </div>
        </td> 
      </tr>
      <tr ng-repeat="item in input | filter:{'name':simpleFilter.name}" class="entityRow">
        <td class="checkboxCell">
            <input type="checkbox" checklist-model="selectedRows" checklist-value="{name:item.name, type:item.type}"/>
        </td>
        <td class="nameCell" ng-click="goEntityDetails(item.name, type)">
            {{ item.name }}
        </td>
        <td class="stateCell">
            <span ng-if="type !== 'cluster'">{{ item.status }}</span>
        </td>
        <td class="dateCell">
            10/10/2014
        </td>
      </tr>
    </tbody>

</table>
