<!--
/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<table class="listTable">
  <thead>
    <tr ng-if="info.empty">
      <th> There are no {{ type }}s </td>
    </tr>
    <tr ng-if="!info.empty" colspan="4">
      <th>
        <div class="filtersBox">Filter by Name <input type="text" class="form-control" ng-model="simpleFilter.name"/></div> 
        <div ng-if="type !== 'cluster'" class="filtersBox">Filter by Status <input type="text" class="form-control" ng-model="simpleFilter.status"/></div> 
        <div ng-if="type !== 'cluster'" class="filtersBox">Filter by Tags <input type="text" class="form-control" ng-model="simpleFilter.tags"/></div> 
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="!info.empty" class="buttonsRow">
      <td class="buttonCell" colspan="4">
        <div class="btn btn-default btn-xs" ng-click="scopeSchedule()" ng-disabled="selectedRows.length === 0 || selectedRows.length > 1" ng-if="type !== 'cluster'">
            <span class="entypo play"></span> Schedule
        </div>
        <div class="btn btn-default btn-xs" ng-click="scopeResume()" ng-disabled="selectedRows.length === 0 || selectedRows.length > 1" ng-if="type !== 'cluster'">
            <span class="entypo play"></span> Resume
        </div>
        <div class="btn btn-default btn-xs" ng-click="scopeSuspend()" ng-disabled="selectedRows.length === 0 || selectedRows.length > 1" ng-if="type !== 'cluster'">
            <span class="entypo paus"></span> Suspend
        </div>
        <div class="btn btn-default btn-xs" ng-click="scopeStop()" ng-disabled="selectedRows.length === 0 || selectedRows.length > 1" ng-if="type !== 'cluster'">
            <span class="entypo stop"></span> Stop
        </div>
        <div class="btn btn-default btn-xs" ng-click="scopeEdit()" ng-disabled="selectedRows.length === 0 || selectedRows.length > 1" ng-if="type !== 'cluster'">
            <span class="entypo cog"></span> Edit
        </div>
        <div class="btn btn-default btn-xs" ng-click="scopeClone()" ng-disabled="selectedRows.length === 0 || selectedRows.length > 1">
            <span class="entypo docs"></span> Copy
        </div>
        <div class="btn btn-default btn-xs" ng-click="scopeRemove()" ng-disabled="selectedRows.length === 0 || selectedRows.length > 1">
            <span class="entypo trash"></span> Delete
        </div>
        <div class="btn btn-default btn-xs" ng-click="download()" ng-disabled="selectedRows.length === 0 || selectedRows.length > 1">
            <span class="entypo down"></span> Download XML
        </div>
      </td>
    </tr>
    <tr ng-repeat="item in input | filter:{'name':simpleFilter.name} | filter:{'status':simpleFilter.status} | filter:{'list':simpleFilter.tags}" class="entityRow">
      <td class="checkboxCell">
          <input type="checkbox" checklist-model="selectedRows" checklist-value="{name:item.name, type:item.type}"/>
      </td>
      <td class="nameCell" ng-click="goEntityDetails(item.name, type)">
          {{ item.name }}
      </td>
      <td class="stateCell">
          <span ng-if="type !== 'cluster'" ng-class="{'text-success': item.status === 'RUNNING', 'text-warning': item.status === 'SUSPENDED', 'text-danger': item.status === 'UNKNOWN'}">{{ item.status }}</span>
      </td>
      <td class="dateCell">
          10/10/2014
      </td>
    </tr>
  </tbody>
</table>
