<entity-summary></entity-summary>
<table class="listTable">
    <thead>       
      <tr ng-if="info.empty">
        <th> There are no {{ caption }} </td>
      </tr>  
      <tr ng-if="!info.empty">
        <td> 
          <div class="radio-inline">
            <label>
              <input type="radio" name="searchOptions" id="optionsRadios1" value="nameSearch" checked>
                Name
            </label>
          </div>
          <div class="radio-inline">
            <label>
              <input type="radio" name="searchOptions" id="optionsRadios2" value="tagsSearch">
                Tags
            </label>
          </div>      
        </td>
      </tr>   
      <tr ng-if="!info.empty">
        <td> <input type="text" /> </td>   
      </tr>   
    </thead>
    <tbody>
      <tr>
        <td class="buttonCell" >
          <div class="btn btn-default btn-xs" ng-click="scopePlay(item.type, item.name)" ng-if="action === 'stopped' || action === 'paused'">
              <span class="entypo play"></span> 
          </div>
          <div class="btn btn-default btn-xs" ng-click="scopePause(item.type, item.name)" ng-if="action === 'running'">
              <span class="entypo paus"></span> 
          </div>
    

          <div class="btn btn-default btn-xs" ng-click="scopeStop(item.type, item.name)" ng-if="action === 'running' || action === 'paused'">
              <span class="entypo stop"></span> 
          </div>
           

          <div class="btn btn-default btn-xs" ng-click="edit(item.type, item.name)" ng-if="action === 'stopped' && caption !== 'Clusters'">  
              <span class="entypo cog"></span> 
          </div>
        

          <div class="btn btn-default btn-xs" ng-click="clone(item.type, item.name)">  
              <span class="entypo docs"></span> 
          </div>
            

          <div class="btn btn-default btn-xs" ng-click="remove(item.type, item.name)" ng-if="action === 'stopped' || action === ''">
              <span class="entypo trash"></span> 
          </div>
        </td> 
      </tr>
      <tr ng-repeat="item in input">
        <td style="checkboxCell">
            <input type="checkbox" />
        </td>
        <td class="nameCell">
            {{ item.name }}
            <small>{{ action | uppercase }}</small>
        </td>
      </tr>
    </tbody>
</table>
